* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #DDD;
  font-size: 16px;
}

code, pre, textarea {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 90%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 1ex 0;
}

p {
  page-break-inside: avoid;
}

.container {
  max-width: 8.5in;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 -15px 9px -10px rgba(0, 0, 0, 0.1) inset;
}

header .container {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),
              0 2px 10px -3px rgba(0, 0, 0, 0.5);
  background: #63b3de linear-gradient(0deg, #4171a3, #0003 100%) 0 -10px no-repeat;
}

header h1 {
  padding: 1rem 3rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5),
               0 -1px 0px #ffffff,
               0 2px 3px rgba(0, 0, 0, 0.1);
  color: #d9e9fff2;
  font-weight: 500;
  font-size: 200%;
  text-align: center;
}

header h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin: 0 auto;
  padding: 0 1rem 2rem;
  font-weight: 500;
}


main {
  background: #FFF;
  max-width: 8.5in;
  text-align: justify;
  margin: 0 auto;
  padding: 3em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 10px -3px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

footer > .container {
  box-shadow: 0 1px  0    1px  rgba(0, 0, 0, 0.3),
              0 2px  0   -1px  rgba(0, 0, 0, 0.1) inset,
              0 20px 0   -10px #63b3de            inset,
              0 12px 0   -1px  rgba(0, 0, 0, 0.1) inset,
              0 2px 10px -3px  rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 3rem;
}

footer .container a, footer .container span {
  text-decoration: none;
  padding: 0rem 1rem;
  color: #CCC;
}

footer .container span {
  font-size: 80%;
  display: inline-block;
  color: #CCC;
  padding: 2rem 1rem 0;
}

footer .container a:hover {
  text-decoration: underline;
}

footer #csv {
  width: 100%;
  resize: vertical;
  min-height: 20rem;
  border: 2px solid #333;
  padding: 1ex;
  border-radius: 0 0 1ex 1ex;
  background: rgba(0, 0, 0, 0.35);
  color: #BBB;
  outline: none;
}

footer #csv.has-error {
  border-color: #F30;
}

footer code {
  color: #CCC;
  display: block;
  position: relative;
  white-space: pre-wrap;
  text-align: center;
  margin: 1em 0 0;
  background: #333;
  padding: 1ex 1ex;
  text-shadow: none;
  border-radius: 1ex 1ex 0 0;
  font-weight: 600;
  font-family: sans-serif;
}

footer code.has-error {
  color: #FFF;
  background: #F30;
  text-shadow: 0 1px 2px #0008;
}

.chart {
  margin: 3rem auto;
  aspect-ratio: 3 / 2;
}

.chart * {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}

/* ---------------------------- SMALL SCREEN -------------------------------- */

@media(max-width: 8.5in) {
  body {
    background-color: #FFF;
  }
  main, header h1, header h2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* -------------------------------- PRINT ----------------------------------- */
@media print {
  body {
    background-color: #FFF;
  }

  header h1 {
    text-shadow: none;
    color: #000;
  }

  .container {
    max-width: none;
  }

  header {
    background: none;
    box-shadow: none;
    color: #000;
  }

  header > .container {
    box-shadow: none;
    background: none;
  }

  header h2 {
    color: #777;
  }
  main {
    max-width: none;
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
  }
  
  footer {
    background-color: #FFF;
  }
  
  footer > .container {
    box-shadow: none;
    background-color: #FFF;
    border-top: 0;
  }
  
  footer * {
    color: #777;
  }

  .chart {
    margin: 2rem 0;
    height: auto;
    page-break-inside: avoid;
  }

  .no-print {
    display: none !important;
  }
}
